{% extends 'base.html' %}
{% block title %}
Booking
{% endblock %}

{% block content %}
<h1 class="text-center">Make An Appointment</h1>
<hr>
<div style="background-image: url('static/images/appnt1.jpg');margin-top:-45px" >
<div class="container text-center p-3 my-5 " style="width:35%;">

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <br>
        <button class="transparent-button btn-primary" type="submit">Submit</button>
    </form>
</div>
</div>
{% endblock %}
